#About{
        /* border-radius: 25px; */
        /* border: 2px solid #73AD21; */
        background: #0e142a;
        margin: 0;
      
}
.about-container > h1{
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 3em;
    color: #FFD700;
}
.abt-text{
    text-align: justify;
    font-size: 2rem;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7em;
}
.abt-box{
    display: flex;
    margin-top: 2em;
}
.abt-box >article{
    width: 60%;
    border-radius: 25px;
    border: 4px solid #FFD700;
    text-align: center;
    float: left;
    padding: 1em;
    margin: 1em;
}
#logo{
    padding-top: 0.7em;
    font-size: 3em;
    padding-bottom: 0.4em;
}
#logo-txt{
    font-size: 2.4em;
    font-weight: 500;
    margin-bottom: 0.5em;
}
#logo-txt-main{
    justify-content: center;
    font-size: 1.5em;
    line-height: 2.5rem;
    margin-top: 0;
    margin-bottom: 1em;
    align-items: center;
}
.abt-box >article:hover{
    background: #FFD700;
    color: #10142c;
    font-size: 1em;
    border: 4px solid #FFD700;
}
