nav{
    width: auto;
}
.nav-links{
    margin-top: 0.5vh;
    display: inline-flex;
    justify-content: center;
    font-size: 1.5em;
    margin-left: 32%;
    margin-right: auto;
    padding: auto;
}
.nav-links > div > a{
    /* margin-left: 5em; */
    margin-right: 2em;
    text-decoration: none;   
    color: inherit;
    padding: 8px;
}
.nav-links > div > a:visited{
    color: inherit;   
}
.main-container{
    display: flex;
    width: inherit;
}
.text{
    float: left;
    line-height: 30px;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 2rem;
    height: fit-content;
}
.text > h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.span-text{
    /* padding: 5px; */
    font-size: 2.5rem;
    color: #FFD700;
}
.img{
    margin-left: 45%;
    width: 26rem;
    overflow:hidden;
    margin-top: 10vh;
    border:  white 6px solid;
    margin-bottom: 3vh;
}
.btn{
    font-size: 1.7rem;
    margin-top: 70px;
    display: block;
    text-decoration: none;
    justify-content: center;
    width: max-content;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 3px solid #FFD700;
    background: inherit;
}
.btn:hover{
    background-color: #FFD700;
}