body{
  background-color: black;
/* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  color: white;
  width: auto;
  height: auto;
}
html{
  scroll-behavior: smooth;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
